*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'spotify-circular' ,Helvetica,Arial,sans-serif;

}

.row{
    /* /* border: 2px solid red;  */
    
    
}


 
.spotify-image{
    max-width: 9%;
    min-width: 6%;
    background-color: white;
    border: 5px solid black;
    /* padding: 1em; */
    border-radius: 50%;
}


 
.navbar-brand{
    padding-left: 1em;
}

.navbar-brand{
    color: white;
}


.nav-item{
    color: white;
}
.nav-link{
    color: white;
}

.nav-link:hover{
    color: green;
}

.img-fluid{
    border: 6px solid white;
    border-top: 60px solid white;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
    width: 25%;
    margin-bottom: 0;
}

.nav-container{
    position: relative;
}

@media (max-width:780px) {

    .navbar-toggler{
        margin-left:20em;
        /* margin-top: ; */
        position: absolute;
        
    }

    
}

@media (max-width:446px) {

    .navbar-toggler{
        
        /* margin-top: ; */
        position: absolute;
        right: 1em;
        
    }

    
}



 /* ------------------End of Navbar----------------- */

 


 .songs{
    /* max-width: 10em; */
    background: linear-gradient(rgb(176, 35, 194) 15%, rgb(96, 11,
    231));

    /* width: 100%; */
    padding: auto;
    margin-right: 2em;
    padding-top: 8em;
    padding-left: 8em;

    /* position: relative; */
 }



 .main-text{
     margin-left: 5em;
     margin-top: 6em;
 }
 .main-text-content{
    color: white;
    font-size: 54px;
    font-weight: bolder;
     
 }

 .btn-rounded-pill{
    padding-top: 1em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    font-size: 12px;
    font-weight: bolder;
    margin-top: 2em;

    border: 1px solid white;

    /* border-radius: 25%; */

    
    border-top-left-radius: 2em;
    
    border-bottom-left-radius: 2em;

    
    border-top-right-radius: 2em;
    
    border-bottom-right-radius: 2em;
   

}


/* .songs-phone{
    position: relative;
} */

@media(max-width:1000px){

    .phone-img{
        display: none;
    }

    .main-text{
        
       
      margin-left: 0;
        margin-top: 0;
        /* border: 2px solid yellow; */
        margin-right: 15em;  
    }

    
 .btn-rounded-pill{
    margin-bottom: 5em;
 }
 
    
}



@media(max-width:520px){
     
    .main-text{
        
        
         margin-right: 10em;
         
      }
  
}









 /* ------------------ENd of songs ------------------- */


.circle{
    /* border: 2px solid violet; */
 
    max-width: 8em;
    min-width: 7em;
    padding: 4em;
    background: linear-gradient(rgb(176, 35, 194) 15%, rgb(96, 11,
231));
    border-radius: 120%;
    /* margin-left: 6em; */
    
    margin-bottom: 3em;
 
}

.card{
    align-items: center;

}

.card-title{
    /* text-align: center; */
    text-align: center;
}

.card-title-why{
text-align: center;
font-size: 50px;
font-weight: 900;
margin-top: 1em;
}

.card-text{
    text-align: center;
}

.row-items{
    justify-content: center;
    margin-top: 2em;
    /* border: 2px solid yellow; */
}
 
.card{
    margin: 5em;
    /* border: 2px solid green; */
    border: none;
}
 


/* -------------------ENd of CIrcle=------------------------------ */


 

.free{
    background: linear-gradient(rgb(176, 35, 194) 15%, rgb(96, 11,
    231));

    /* width: 100%; */
    padding: 10em;
    /* margin-right: 2em; */
}

.free-text{
    text-align: center;
    color: white;
    font-weight: bolder;
}



.center-button{
    position: relative;
    /* margin-top: 1em; */
 }

 /* .btn{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 4em;
     
   
    padding-left: 1em;
    padding-right: 1em;

    border-top-left-radius: 2em;
    
    border-bottom-left-radius: 2em;

    
    border-top-right-radius: 2em;
    
    border-bottom-right-radius: 2em;
   
  
    
 } */

 
/* --------------------ENd of Free--------------------------------------- */





/* ----------------------ENd of Ready container----------------------000 */


.footer{
    background-color: black;
    padding-bottom: 10em;

    /* justify-content: space-around; */

    padding-top: 3em;

}

img{
    max-width: 2em;

}

ul{
    text-decoration: none;
}
.link-item{
    color: white;
    /* text-decoration: none; */
    list-style-type: none;
    margin-bottom:1em;
    
}

.footer-name{
    color: white;
    margin-right: 4em;
}

.logo-color{
    color: white;
    background-color: white;
    border: 2px solid black;
    border-radius: 60%;
    /* border-bottom-left-radius: 10%; */
}

.links-title{

    color: grey;
    font-size: 16px;
    margin-right: 4em;
}

.social{
    width: 13em;
    height: 2em;
    margin-right: 1em;
 
    border: 8px solid #495057;
 
    
}
 

.contact-India{
    color: gray;
}
.final-container{
    margin: 10em;
}

.contact-India{
    margin-right: 2em;
}


 

.card-title{
    font-weight: bolder;

}
.card-text{
    font-weight: 500;
}